{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>
  {% if error %}
  <div class="alert alert-danger">{{error}}</div>
  {% endif %}

    <form action="/signin/" method="POST">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1>Iniciar Sesión</h1>
              <p class="text-muted">Ingresa los datos solicitados</p>
              <div class="input-group mb-3">
                {{form.username}} 
              </div>
              <div class="input-group mb-4">
                {{form.password}} 
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-primary px-4">Iniciar Sesión</button>
                </div>
                <div class="col-6 text-right">
                  <a href="{% url 'signup' %}"  class="btn btn-link px-0">No tienes cuenta?</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Book Projects</h2>
                <p>La mejor plataforma para publicar tus proyectos en desarrollo. Conoce a el trabajo de los mejores programadores del mundo y se parte de esta gran comunidad.</p>
                <h5>Si lo puedes imaginar, lo puedes programar...</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
  <br><br>

{% endblock %}